#reordenable tr {
    cursor: move;
}

.contenedor-totales {
    display: flex; /*Para mostrarlo en columnas https://developer.mozilla.org/es/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox */
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.activo {
    color: blue;
}

.pasivo {
    color: red;
}
